<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<title>Printable Resume - Shanmuga's Resume - Application Developer/Web Designer/Web Developer Resume</title>
<meta name="title" content="Printable Resume - Shanmuga's Resume - Application Developer/Web Designer/Web Developer Resume">
<meta name="description" content="This is a printable version of Shanmuga's's Resume who is a professional Application developer for Enterprise and Web Application.">
<meta name="keywords" content="web site developement resume, web designer resume, Enterprise Application Developer,GUI Developer using Java Swing, UK">
<meta name="rating" content="general">
<meta name="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="distribution" content="global">
<meta name="resource-type" content="document">
<meta name="robots" content="index,follow">
<meta name="last-modified" content="2009/04/15">
<meta name="revisit-after" content="10_days">
<%= stylesheet_link_tag "common" %>
	<%= stylesheet_link_tag "niftyCorners" %>
	<%= stylesheet_link_tag "calendar-rfq" %>
	<%= stylesheet_link_tag "ffDemo" %>
	
	<%= javascript_include_tag "h_menu.js" %>
	<%= javascript_include_tag "niftycube.js" %>
	<%= javascript_include_tag "/jscalendar/calendar.js" %>
	<%= javascript_include_tag "/jscalendar/calendar-setup.js" %>
	<%= javascript_include_tag "/jscalendar/lang/calendar-en.js" %>
	<%= javascript_include_tag "jquery.js" %>
	<%= javascript_include_tag "interface.js" %>
	<%= javascript_include_tag "fastFind.js" %>
</head>
<body>

<div id="divcontainer">
<%= render :partial => '/includes/header' %>

<div id="content_part">
<div id="left_part">
 <script type="text/javascript">
 jQuery(function(){
 		jQuery('div#ifM_wrapper_1').fastFind(
 		{
 			url:	'../includes/',
 			params:	{ 'current':1,'previous':false,'apiKey':'8cfd86175' }
 		});
 		jQuery('.ifM_header a').click(function () {
 			var el = jQuery(this).parents('div.ifM_box').get(0);
 			jQuery(el).fastFindToggle(true);
 			return false;
 		});
 });
 </script>
 <div id="leftbox">
                        <h1 class="aligntext">Browse Categories</h1>
                        
                        <div class="ifM_content">
                            <p><%= link_to "Movie", :controller => 'buyticket', :action => 'movie_home' %></p>
   <p><%= link_to "Drama", :controller => 'buyticket', :action => 'drama' %></>
   <p><%= link_to "Sports", :controller => 'buyticket', :action => 'sports' %></p>
   <p><%= link_to "Music", :controller => 'buyticket', :action => 'music' %></p>
   <p><%= link_to "Hot Event", :controller => 'buyticket', :action => 'local_event' %></p>
   <p><%= link_to "My Resume", :controller => 'buyticket', :action => 'index' %></p>
						</div>
                        <div class="ifM_pager">
                            <a href="#" rel="Down" title="Scroll Down" style="display:none"><img src="/resources/images/arrow_dn.gif" alt="Scroll Up"/></a>
                        </div>
                        <div class="ifM_back">
                            <a href="http://{'previous':1}">« Back</a>
                        </div>
                    </div>
                
 </div>
<div id="middle_part">
 <div id="openbox">
  <h1 class="aligntext">Resume</h1>
  <div id="middlealign">
    <table nowrap="" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr valign="top">
                    <td height="2">
                        <div align="center">
                            <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr valign="top">
                                        <td colspan="2">
                                            <p align="center">
                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                    <b>
                                                        <font size="3">
                                                            Shanmuga Sundaram
                                                            S P M
                                                        </font>
                                                    </b>
                                                    <br>
                                                    Web &amp; Enterprise Application Developer
                                                    <br>
                                                    74, Beavers Lane
                                                    <br>
                                                    Hounslow
                                                    <br>
                                                    Middlesex, London TW4 6EL
                                                    <br>
                                                    Web: <a href="http://osshanmuga.aptanacloud.com/buyticket" target="_blank">http://www.osshanmuga.aptanacloud.com/buyticket</a>
                                                    <br>
                                                    eMail: 
                                                </font>
                                                <font size="2" color="#999999" face="Arial, Helvetica, sans-serif">
                                                    <script language="JavaScript">
                                                        <!--
                                                        var name = "muthu_shanmuga";
                                                        var domain = "yahoo.com";
                                                        document.write('<a href=\"mailto:' + name + '@' + domain + '\">');
                                                        document.write(name + '</a>');
                                                        // -->
                                                    </script>
                                                    <a href="mailto:muthu_shanmuga@yahoo.com"></a>
                                                    <!--</font><font face="Arial, Helvetica, sans-serif" size="2"></font><font face="Arial, Helvetica, sans-serif" size="2">
                                                    <br> -->
                                                </font>
                                            </p>
                                            <p align="center">
                                                <font size="3" face="Arial, Helvetica, sans-serif">
                                                    <font size="4">
                                                            &#8226;
                                                        </font><b>Web &amp; Enterprise Application Developer 
                                                        
                                                        
                                                    </b>
                                                </font>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr valign="top">
                                        <td colspan="2">
                                            <p align="left">
                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                    <b>
                                                        <font size="3">
                                                            Objective:
                                                        </font>
                                                    </b>
                                                </font>
                                            </p>
                                            <p align="left">
                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                    <i>Highly motivated and enthusiastic 
                                                        IT Professional with proven experience in <b>Web/Enterprise Application Design &amp; Development</b> and offers the opportunity for career advancement along with the further expansion of IT skills. </i>
                                                </font>
                                            </p>
                                            <p align="left">
                                                <font size="3" face="Arial, Helvetica, sans-serif">
                                                    <b>Education:</b>
                                                </font>
                                            </p>
                                            <table width="230" align="right" border="1" bordercolor="#cccccc" cellpadding="5" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <p align="left">
                                                                <font size="3" face="Arial, Helvetica, sans-serif">
                                                                    <b>Summary:</b>
                                                                </font>
                                                            </p>
                                                            <p align="left">
                                                                <i>
                                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                                        "Experienced
                                                                        Software developer with a strong background working on Java Enterprise
                                                                        and Open Source technologies, including Java, Core Java, JSP, Servlets,
                                                                        EJB, JMS, JavaMail, Swing and Ruby on Rails 2.x, LAMP viz.
                                                                        Linux-Apache-MySQL-PHP technologies, Websphere 6.x, WebLogic 6.x and
                                                                        Lighttpd. Passionate about developing bespoke software application
                                                                        using Ruby on Rails framework and Java Enterprise frameworks.
                                                                        Experience in software engineering and development, Agile, RUP and
                                                                        Waterfall development models and Test/Behavior Driven Development.
                                                                        Proven ability to jump into new projects, exceeds client expectation,
                                                                        and learns new technologies quickly. Managed complex development
                                                                        projects from inception to transition across various domains of
                                                                        applications, including Public Media, Social Networking, Banking and
                                                                        Financial Services, Telecom, Retail, Healthcare, Government and
                                                                        Logistics."
                                                                    </font>
                                                                </i>
                                                            </p>
                                                                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p align="left">
                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                    Nov 1997 &nbsp;&nbsp; B.Engg.,- Computer Science and Engineering (60%)
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													Manonmaniam Sundaranar University, TN, IN 
                                                </font>
                                            </p>
                                            <p align="left">
                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                    Apr 1992 &nbsp;&nbsp; HSCB - Maths, Physics, Chemistry and Biology 
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(76%), Tamil Nadu, IN 
                                                </font>
                                            </p>
                                            <p align="left">
                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                    Apr 1990 &nbsp;&nbsp; SCB - General (77%), Tamil Nadu, India 
                                                </font>
                                            </p>
                                            <p align="left">
                                                <font size="3" face="Arial, Helvetica, sans-serif">
                                                    <b>Qualifications:</b>
                                                </font>
                                            </p>
                                            <ul>
                                                <li>
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        <b>Designing</b>,<b>Developing</b>
                                                        and <b>Testing Web/Enterprise Application</b>
                                                        Using <b>J2EE</b>
                                                        framworks and <b>OS</b>
                                                        technologies, including <b>Ruby on Rails</b>, <b>LAMP</b>
                                                        viz. <b>LINUX-APACHE-MYSQL-PHP</b>, <b>Java</b>, <b>Core Java</b>, <b>Swing</b>,<b> JSP</b>, <b>Servlet</b>, <b>EJB</b>, <b>Spring</b>, <b>JSF</b>,<b> Hibernate</b>
                                                        with <b>Oracle</b>, <b>DB2</b>
                                                        and <b>MySQL</b>.
                                                    </font>
                                                </li>
                                                <li>
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        <b>Brainbench</b>
                                                        Certified - Java, C++, Unix(General and Adminstration).
                                                    </font>
                                                </li>
                                                <li>
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        Hands-on Designing 
                                                        &amp; Developing <b>WEB 2.0/RIA </b>Application. 
                                                    </font>
                                                </li>
												 												
                                                <li>
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        Managing the project from inception to
                                                        implementation and production support.
                                                    </font>
                                                </li>
                                                <li>
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        Preparing the proposal,planning and estimation for multiple projects. 
                                                    </font>
                                                </li>
                                                <li>
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        Managing the team size of 4-20's.
                                                    </font>
                                                </li>
                                                <li>
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        Mentors leads and developers for tough tasks.
                                                    </font>
                                                </li>
                                                <li>
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        Creative, Passionate to developing <b>bespoke</b>
                                                        s/w application.
                                                    </font>
                                                </li>
                                                <li>
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        Ability
                                                        to work under pressure, and to consistently deliver projects
                                                        on-time;
                                                    </font>
                                                </li>
                                                <li>
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        Strong analytical
                                                        problem solving and organizational abilities; Posses a flexible &amp; detail oriented attitude.
                                                    </font>
                                                </li>
												<li>
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        Excellent communication skills, hardworking and individual player. 
                                                    </font>
                                                </li>
                                                <li>
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        Posses a flexible &amp; detail oriented attitude.
                                                    </font>
                                                </li>
                                            </ul>
                                            <p align="center">
                                                <font size="3" face="Arial, Helvetica, sans-serif">
                                                </font>
                                            </p>
                                            <p align="left">
                                                <font size="3" face="Arial, Helvetica, sans-serif">
                                                    <b>Skills:</b>
                                                </font>
                                            </p>
                                            <p align="left">
                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                    11 years
                                                    of diverse domain experience, 9 years in Web &amp; Enterprise application development. 
                                                    Hands on experience with: 
                                                </font>
                                            </p>
                                            <blockquote>
                                                <p align="left">
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        <u>
                                                            Java:
                                                        </u>
                                                        Java 5.0, Servlets 2.x,
                                                        JSP 2.x, EJB 2.x, JMS 1.x, Java Mail 1.x, JSF 1.x, JDBC
                                                    </font>
                                                </p>
                                                <p align="left">
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        <u>
                                                            Java GUI:
                                                        </u>
                                                        Swing, SWT, AWT, Applets
                                                    </font>
                                                </p>
                                                <p align="left">
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        <u>
                                                            JEE Frammworks:
                                                        </u>
                                                        Struts 2.x, Spring 2.x
                                                        Hibernate 3.x
                                                    </font>
                                                </p>
                                                <p align="left">
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        <u>
                                                            WEB 2.0 &amp; RIA:
                                                        </u>
                                                        Ajax, Prototype,
                                                        Script.aculo.us, RJS, jQuery,JSON
                                                    </font>
                                                </p>
                                                <p align="left">
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        <u>
                                                            LAMP &amp; OS:
                                                        </u>
                                                        Linux, Apache 2.x,MySQL 5.x,
                                                        PHP 5.x, Ruby 1.x, Rails 2.x, Rake 0.8, Capistrano
                                                    </font>
                                                </p>
                                                <p align="left">
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        <u>
                                                            RDBMS:
                                                        </u>
                                                        Oracle 8.x, MySQL 5.x
                                                        Sybase 11.x, DB2, PostgreSQL 8.x, MS SQL 7.x
                                                    </font>
                                                </p>
                                                <p align="left">
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        <u>
                                                            Internet&amp;Telecom Protocol:
                                                        </u>
                                                        SNMP,
                                                        TCP/IP, DHCP, HTTP, HTTPS, SMTP
                                                    </font>
                                                </p>
                                                <p align="left">
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        <u>
                                                            Web Graphics&amp;Design:
                                                        </u>
                                                        Photoshop 5.x, Flash, Macromedia 5.x, Dreamweaver 7.x
                                                    </font>
                                                </p>
                                                <p align="left">
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        <u>
                                                            Web Languages:
                                                        </u>
                                                        XML 2.x, XSLT 2.x,HTML,DHTML,XHTML,CSS, Javascript
                                                    </font>
                                                </p>
                                                <p align="left">
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        <u>
                                                            Design Patternns:
                                                        </u>
                                                        OOD(Java &amp;J2EE), UML(Rational Rose)
                                                    </font>
                                                </p>
                                                <p align="left">
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        <u>
                                                            Application IDE:
                                                        </u>Eclipse
                                                        3.x,Aptana Studio, ICEfaces 1.7, IntelliJ IDEA 5.x, RAD 7.x, Rational
                                                        Rose, TOAD, SQLyog 3.x, Maven 2, Ant 2.x, Middlegen 2.x,MS Visio
                                                    </font>
                                                </p>
                                                <p align="left">
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        <u>
                                                            Application Server:
                                                        </u>
                                                        Websphere 6.x, Web logic 7.x,
                                                        Apache Tomcat 6.x
                                                    </font>
                                                </p>
                                                <p align="left">
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        <u>
                                                            Version Control:
                                                        </u>
                                                        VSS, SVN(CVS), GIT 
                                                    </font>
                                                </p>
                                                <p align="left">
                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                        <u>
                                                            OS:
                                                        </u>
                                                        Linux, Unix, Win 9x/2000/NT/XP/Vista
                                                    </font>
                                                </p>
                                            </blockquote>
											<p align="left">
                                            <b>
                                                <font size="3" face="Arial, Helvetica, sans-serif">
                                                    Web Application 
                                                    Portfolio: 
                                                    <br>
                                                    <br>
                                                </font>
                                            </b>
											</p>
                                            <table width="100%" border="0" bordercolor="#e0e0e0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" width="50%">
                                                            <ul>
                                                                <li>
                                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                                        <a href="http://osshanmuga.aptanacloud.com/buyticket" target="_blank">http://www.osshanmuga.aptanacloud.com/buyticket</a>
                                                                        <br>
                                                                        Ruby on Rails Project - Online Booking for Movie, Music, Drama and Local Events
                                                                    </font>
                                                                </li>
                                                                <li>
                                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                                        <a href="http://www.rfqposting.com" target="_blank">http://www.rfqposting.com</a>
                                                                        <br>
                                                                        LAMP Project - RFQ Application
                                                                    </font>
                                                                    <br>
                                                                </li>
                                                                <li>
                                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                                        <a href="http://www.calsoftlabs.com" target="_blank">http://www.calsoftlabs.com</a>
                                                                        <br>
                                                                        Project Tracking System - LAMP Project
                                                                    </font>
                                                                    <br>
                                                                </li>
                                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                                    Media POC - WEB 2.0/RIA Project
                                                                </font>
                                                                <br>
                                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                                    Softianos - CMS Ruby on Rails Project
                                                                </font>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
											<p align="left">
                                            <b>
                                                <font size="3" face="Arial, Helvetica, sans-serif">
                                                    Enterprise Application 
                                                    Portfolio: 
                                                    <br>
                                                    <br>
                                                </font>
                                            </b>
											</p>
                                            <table width="100%" border="0" bordercolor="#e0e0e0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" width="50%">
                                                            <ul>
                                                                <li>
                                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                                        <a href="www.cambridgeworldwide.com" target="_blank">www.cambridgeworldwide.com</a>
                                                                        <br>
                                                                        SwiftCONNECT - Banking and Financial Project
                                                                    </font>
                                                                    <br>
                                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                                        ActionWorld 2.0 - BBH Investment and Financial Institutions Project
                                                                    </font>
                                                                </li>
                                                                <li>
                                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                                        <a href="http://www.indiacomnet.com" target="_blank">http://www.indiacomnet.com</a>
                                                                        <br>
                                                                        Nework Mediation - Telecom Project
                                                                    </font>
                                                                    <br>
                                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                                        Advanced Cable Network Management System - Telecom Project
                                                                    </font>
                                                                </li>
                                                                <li>
                                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                                        <a href="http://www.ltinfotech.com" target="_blank">http://www.ltinfotech.com</a>
                                                                        <br>
                                                                        Summitshop - Online booking for production materials
                                                                    </font>
                                                                    <br>
                                                                    <font size="2" face="Arial, Helvetica, sans-serif">
                                                                        eSync - Project Management Project
                                                                    </font>
                                                                <br>
                                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                                    Network Flow Collector - Logistics project
                                                                </font>
																</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <p align="center">
                                                <b></b>
                                            </p>
                                            <p align="left">
                                                <b>
                                                    <font size="3" face="Arial, Helvetica, sans-serif">
                                                        Relevant 
                                                        Experience: 
                                                    </font>
                                                </b>
                                            </p>
                                            <table width="100%" border="0" cellpadding="5" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td valign="top" width="21%">
                                                            <div align="right">
                                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                                    May 08 to Feb 09 
                                                                </font>
                                                            </div>
                                                        </td>
                                                        <td valign="top" width="79%">
                                                            <p align="left">
                                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                                    <b>California Software Company Ltd.,</b>; Chennai, IN
                                                                </font>
                                                            </p>
                                                            <p align="left">
                                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                                    <u>
                                                                        Technical Manager/Architect/Developer
                                                                    </u>
                                                                    <br>
                                                                    Hands-on in Design and Implementation Phase for Administration, Security and data Module.
                                                                    Prepared and Presented Prototype of spec to Client.
                                                                    Prepared the Technical Spec, Coding Standards, Test Case Document and Reviewed.
                                                                    Managed the project from inception to implementation, production support.
                                                                    Prepared the proposal, estimation and technical architecture for multiple projects.
                                                                    Managed the team size of 4-6.
                                                                    Established and enforce timelines and project schedule.
                                                                    Recommended of development methodologies and frameworks of the project.
                                                                    .
                                                                </font>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" width="21%">
                                                            <div align="right">
                                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                                    Feb 07 
                                                                    to May 08 
                                                                </font>
                                                            </div>
                                                        </td>
                                                        <td width="79%">
                                                            <p align="left">
                                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                                    <b>Cambridge Solutions Ltd</b>;
                                                                    Chennai IN
                                                                </font>
                                                            </p>
                                                            <p align="left">
                                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                                    <u>
                                                                        Project Leader/Senior Developer
                                                                    </u>
                                                                    <br>
                                                                    Responsibilities include project management, planning, testing,
                                                                    development and maintenance of multiple poject.Designed HLD and LLD for Financial Enterprise Application Using UML (OOD).
                                                                    Hands-on in Design and Implementation Phase for multiple Messaging and GUI module.
                                                                    Prepared and Presented the Prototype of spec to Client.
                                                                    Developed application using RUP and TDD models.
                                                                    Managed the project from inception to implementation, production support.
                                                                    Prepared the proposal, estimation and technical architecture for multiple projects.
                                                                    Managed the team size of 4.
                                                                    Established and enforce timelines and project schedule.
                                                                    Recommended of development methodologies and frameworks of the project.
                                                                    Provided overall design and structure of the application.
                                                                    Ensured that the application design is adequately documented.
                                                                    Prepared coding guidelines and advocating the same compliance.
                                                                    Mentors leads and developers for tough tasks.
                                                                    Direct team of developers in designing system architecture.
                                                                    Designed and developed the File Parser, Util and Messaging module in swiftConnect
                                                                    corporate Intranet; Hands-On Designed and developed FOREX and Payment Provisional modules in Action World
                                                                    .
                                                                </font>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="top" width="21%">
                                                            <div align="right">
                                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                                    Aug 
                                                                    05 to Jan 07 
                                                                </font>
                                                            </div>
                                                        </td>
                                                        <td width="79%">
                                                            <p align="left">
                                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                                    <b>India comnet Intl Pvt Ltd</b>; 
                                                                    Chennai, IN 
                                                                </font>
                                                            </p>
                                                            <p align="left">
                                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                                    <u>
                                                                        Senior Software Professional
                                                                    </u>
                                                                    <br>
                                                                </font>
                                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                                    Designed and Developed Billing and Reporting Cartridges for wireless, IP, Voice IP and Cartridge Kit.
                                                                    Developed application using RUP and TDD model.
                                                                    Provided technical support and worked as a Module Leader to follow ups the team activities, allocation of task, task moving as per the schedules, and delivered product to client as per the schedule.
                                                                    Prepared the Design Spec for Customer requirement and Test Cases.
                                                                    Designed and Developed the Topology Management, this includes Discovery Module and Polling Module.
                                                                    Event Management, Trap filtering,Reconfiguration Management, Task Allocation, Task completion Trap receiving,
                                                                    Graphical View representation of Rack, Device, Port and its Links, ecurity Management, authentication and authorization,
                                                                    GUI and SNMP Operations modules,Prepared Prototype, Design Spec and developed Policy Management Modules.
                                                                    .
                                                                </font>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr valign="top">
                                        <td colspan="2" height="12">
                                            <div align="center">
                                                <font size="2" face="Arial, Helvetica, sans-serif">
                                                    <b>
                                                        <br>
                                                        References:
                                                    </b>
                                                    Available upon request.
                                                </font>
                                                <br>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <font size="2" face="Arial, Helvetica, sans-serif">
                            </font>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
 </div>
 </div>
</div>
<div id="right_part">
 <div id="rightbox">
   <h1 class="aligntext">Login / Register</h1>
    <table width="94%" align="center" border="0" cellpadding="2" cellspacing="0">
     <tr>
      <td class="smalltxt">Candidate:</td>
      <td align="right">
      <%= link_to "Login", :action =>'login' %>&nbsp;|&nbsp;<%= link_to "Register", :action =>'register' %></td>
     </tr>
     <tr>
      <td class="smalltxt">Staff:</td>
      <td align="right">
      <%= link_to "Login", :action =>'login' %>&nbsp;|&nbsp;<%= link_to "Register", :action =>'register' %></td>
      </tr>
    </table>
   </div>

 <div id="rightbox_adv">
   <div id="rightalign_adv">
   	<h1>No 1: Movie</h1>
    <a href="#"><img src="../images/876.jpg" width="160" /></a>
   </div>
 </div>

 <div id="rightbox_adv">
   <div id="rightalign_adv">
   	<h1>No 1: Movie</h1>
    <a href="#"><img src="../images/yo.jpg" width="160" /></a>
   </div>
 </div>
</div>

</div>
<div id="footer"><p>&copy; 2009 Buy Ticket Ltd. All rights reserved.</p></div>
</body>
</html>
